<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ETravel.Nps.DataAccess.Properties.Settings.Database"
            connectionString="server=10.0.0.999;uid=sa;pwd=klouvrd;database=e_travel_net_promoter_score" />
    </connectionStrings>
</configuration>