<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ETravel.Nps.DataAccess.Properties.Settings.Database"
            connectionString="server=10.0.0.240;uid=sa;pwd=u98BLd@gvxS906;database=e_travel_net_promoter_score_dev" />
    </connectionStrings>
</configuration>